# Temp
~ 

#build
_bin
_build
*.o
*.a
*.dll
*.exe
*.pdf
*.fb2

# IDE
.idea
/nbproject/private/
bower_components
node_modules

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#
makefile
.idea
*.user
*.user.*
*.autosave
object_script.*
